<script>
	import { breakTime } from "../stores/store.js";
	import {increase, decrease}	 from "../utils/utils.js";
</script>

<div class="break">
	<div class="time-change__title">
		Break Length
	</div>
	<section class="time-change__bottom">

		<i class='fas fa-arrow-down time-change-button' on:click={() => decrease(breakTime)}/>
			<span class="time-change__time">
				{$breakTime / 60}
			</span>
			<i class='fas fa-arrow-up time-change-button' on:click={() => increase(breakTime)}/>
			</section>
</div>


<style lang="postcss">
	.break {
		@apply my-6;
	}
</style>