<script>
	import { sessionTime } from "../stores/store.js";
	import {increase, decrease}	 from "../utils/utils.js";
</script>

<div>
	<div class="time-change__title">
		Session Length
		</div>
	<section class="time-change__bottom">
	<i class='fas fa-arrow-down time-change-button' on:click={() => decrease(sessionTime)}/>

	<span class="time-change__time">
		{$sessionTime / 60}
	</span>
	<i class='fas fa-arrow-up time-change-button' on:click={() => increase(sessionTime)}/>
		</section>
</div>