<script>
	import Break from "./components/Break.svelte"
	import Session from "./components/Session.svelte";
	import Timer from "./components/Timer.svelte";

	import {state} from './stores/store'

	import {fade} from 'svelte/transition'

</script>

<h1>Pomodoro Clock</h1>
<h2 class={$state}>{$state}</h2>
{#if (!['work', 'break'].includes($state)) }
<section class="time-change" transition:fade>
	<Break />
	<Session />
</section>
{/if}
<Timer />


<style lang="postcss">
	h1 {
		@apply text-center text-6xl;
		font-family: 'Bungee';
	}

	h2 {
		@apply mt-4 text-center text-5xl uppercase;
		font-family: 'Londrina Solid';
	}

	.rest {
		@apply text-green-200;
	}

	.work {
		@apply text-blue-300;
	}

	.break {
		@apply text-nord12;
	}

	.pause {
		@apply text-yellow-200;
	}

	.time-change {
		@apply my-12 mx-auto;
		width: fit-content;
	}
</style>