@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&family=Bungee&family=Londrina+Solid&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	@apply bg-theme-black-1 h-full;
}

body {
	@apply mx-auto max-w-[900px];

	@apply bg-theme-black-0 py-6 px-12;
}

.time-change-button {
	@apply btn btn-accent text-base;
}

.time-change__title {
	@apply my-2;
	@apply text-center text-3xl;
	font-family: 'Roboto';
}

.time-change__time {
	@apply text-2xl;
	font-family: 'Fira Code';
}

.time-change__bottom {
	@apply flex justify-around items-center;
}
